<div id="menu" th:fragment="topMenu" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-dark bg-dark ">
        <a href="admin/adminSite" class="navbar-brand">Min Side</a>
        <a href="admin/studentList" class="navbar-brand">Studerende</a>
        <a href="admin/teacherList" class="navbar-brand">Undervisere</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>