<div id="newStudent" th:fragment="newStudent" xmlns:th="http://www.thymeleaf.org">
    <div class="createNewStudentContent">
        <div class="row close">
            <span class="close">&times;</span>
        </div>
        <div class="row">
            <form class="createForm" method="post" action="/admin/newStudent">
                <div class="newStudentFormular">
                    <div>
                        <label for="firstname">Fornavn</label>
                        <input id="firstname" th:field="${student.firstname}" placeholder="Fornavn..." required="true"/>
                    </div>
                    <div>
                        <label for="lastname">Efternavn</label>
                        <input id="lastname" th:field="${student.lastname}" placeholder="Efternavn..." required="true"/>
                    </div>
                    <div>
                        <label for="username">Brugernavn</label>
                        <input id="username" th:field="${student.session.username}" placeholder="Brugernavn..."
                               required="true"/>
                    </div>
                    <div>
                        <label for="password">Adgangskode</label>
                        <input id="password" th:field="${student.session.password}" placeholder="Adgangskode..."
                               required="true"/>
                    </div>
                    <div class="role">
                        <label for="role">Vælg Rolle</label>
                        <select id="role" th:field="${student.session.role}" required="true">
                            <option
                                    th:each="role:${roles}"
                                    th:value="${role.id}"
                                    th:text="${role.role}"></option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success createStudentbtn">Opret Studerende</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>