/*
Create new couse style
*/
.createForm{
    max-width: 500px;
    margin: auto;
}

.createForm div{
    padding: 10px;
}

.createForm input, select{
    float: right;
}

.teacherSelect, .studyProgram{
    height: 108px;
}

.createCoursebtn{
    float: right;
}
