<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Kursus Liste</title>

    <link type="text/css" rel="stylesheet" href="../stylesheet.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

</head>
<body>

<div th:replace="/teacher/navBar::topMenu"></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id="allCourses" class="table">
            <thead class="bg-dark">
            <tr class="courseListHead">
                <th scope="col">ID</th>
                <th scope="col">Kursusnavn Dansk</th>
                <th scope="col">Kursusnavn Engelsk</th>
                <th scope="col">ECTS</th>
                <th class="createColumn" scope="col"><a id="newCoursebtn" class="btn btn-success newCoursebtn">Opret
                    Kursus</a></th>
            </tr>
            </thead>
            <tbody>
            <tr class="courseInfo" th:each="course:${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.nameDanish}"></td>
                <td th:text="${course.nameEnglish}"></td>
                <td th:text="${course.ectsPoints}"></td>
                <td>
                    <a th:href="'/teacher/editCourse/'+${course.id}" class="btn btn-warning">
                        Redigér
                    </a>
                    <button type="button" class="course-delete btn btn-danger" th:attr="data-id=${course.id}">Slet
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

<div id="createNewCourseModel" class="createNewCourseModel">
    <div th:replace="/teacher/newCourse::newCourse"></div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    //Create new course model
    var newCourseModel = document.getElementById("createNewCourseModel");
    //Button to open new course model
    var newCoursebtn = document.getElementById("newCoursebtn");
    //span to close model
    var span = document.getElementsByClassName("close")[0];

    //Open new course model
    newCoursebtn.onclick = function () {
        newCourseModel.style.display = "block";
    };
    //Close new course model
    span.onclick = function () {
        newCourseModel.style.display = "none";
    };

    $(document).on("click", ".course-delete", function () {
        var courseId = $(this).data("id");
        $.ajax({
            url: "http://localhost:8080/teacher/deleteCourse/" + courseId,
            method: "delete",
            success: function () {
                location.reload();
            }
        });
    })
</script>

</body>
</html>