<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Redigér Kursus</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <link type="text/css" rel="stylesheet" href="../stylesheet.css"/>
</head>
<body>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="showCourseContent">
            <form class="showForm" th:object="${course}">
                <div>
                    <label for="nameDanish">Kursusnavn Dansk</label>
                    <input id="nameDanish" th:field="${course.nameDanish}" placeholder="Kursusnavn Dansk..."/>
                </div>
                <div>
                    <label for="nameEnglish">Kursusnavn Engelsk</label>
                    <input id="nameEnglish" th:field="${course.nameEnglish}" placeholder="Kursusnavn Engelsk..."/>
                </div>
                <div>
                    <label for="semester">Semester</label>
                    <input id="semester" th:field="${course.semester}" placeholder="Semester..."/>
                </div>
                <div>
                    <label for="classCode">Klassekode</label>
                    <input id="classCode" th:field="${course.classCode}" placeholder="Klassekode..."/>
                </div>
                <div class="studyProgram">
                    <label for="studyProgram">Vælg Studieprogram</label>
                    <select id="studyProgram" th:field="${course.studyProgram}">
                        <option
                                th:each="studyProgram : ${studyPrograms}"
                                th:value="${studyProgram.studyProgramId}"
                                th:text="${studyProgram.studyProgram}"></option>
                    </select>
                </div>
                <div>
                    <label for="mandatoryElective">Obligatorisk eller valgfrit</label>
                    <select id="mandatoryElective" th:field="${course.mandatoryOrElective}">
                        <option th:value="true">Obligatorisk</option>
                        <option th:value="false">Valgfrit</option>
                    </select>
                </div>
                <div>
                    <label for="ects">ECTS</label>
                    <input id="ects" th:field="${course.ectsPoints}" placeholder="ECTS..."/>
                </div>
                <div>
                    <label for="language">Sprog</label>
                    <input id="language" th:field="${course.courseLanguage}" placeholder="Sprog..."/>
                </div>
                <div>
                    <label for="minNumbStudents">Mindste antal studerende</label>
                    <input id="minNumbStudents" th:field="${course.minimumStudents}"
                           placeholder="Mindste antal studerende..."/>
                </div>
                <div>
                    <label for="expNumbStudents">Forventet antal studerende</label>
                    <input id="expNumbStudents" th:field="${course.expectedStudents}"
                           placeholder="Forventet antal studerende..."/>
                </div>
                <div>
                    <label for="maxNumbStudents">Højeste antal studerende</label>
                    <input id="maxNumbStudents" th:field="${course.maximumStudents}"
                           placeholder="Højeste antal studerende..."/>
                </div>
                <div>
                    <label for="prerequisites">Forudsætninger</label>
                    <input id="prerequisites" th:field="${course.prerequisites}" placeholder="Forudsætninger..."/>
                </div>
                <div>
                    <label for="learningOutcome">Læringsudbytte</label>
                    <input id="learningOutcome" th:field="${course.learningOutcome}" placeholder="Læringsudbytte..."/>
                </div>
                <div>
                    <label for="content">Kursus indhold</label>
                    <input id="content" th:field="${course.content}" placeholder="Indhold..."/>
                </div>
                <div>
                    <label for="learningActivities">Læringsaktiviteter</label>
                    <input id="learningActivities" th:field="${course.learningActivities}"
                           placeholder="Læringsaktiviteter..."/>
                </div>
                <div>
                    <label for="examForm">Eksamensform</label>
                    <input id="examForm" th:field="${course.examForm}" placeholder="Eksamensform..."/>
                </div>
                <div class="teacherSelect">
                    <label for="teachers">Vælg Underviser(e)</label>
                    <select id="teachers" th:field="${course.teachers}" multiple="multiple">
                        <option
                                th:each="teacher : ${teachers}"
                                th:value="${teacher.teacherId}"
                                th:text="${teacher.firstname + ' ' + teacher.lastname}"
                        ></option>
                    </select>
                </div>
                <div class="createDiv">
                    <a href="/courseList" class="btn btn-danger">Tilbage</a>
                    <button type="button" class="btn btn-success saveCoursebtn">Gem</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>