<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Kursus Liste</title>

    <link type="text/css" rel="stylesheet" href="../stylesheet.css"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

</head>
<body>

<div th:replace="/navBar::topMenu"></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Kursusnavn Dansk</th>
                <th scope="col">Kursusnavn Engelsk</th>
                <th scope="col">ECTS</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course:${courses}">
                <td th:text="${course.id}"></td>
                <td th:text="${course.nameDanish}"></td>
                <td th:text="${course.nameEnglish}"></td>
                <td th:text="${course.ectsPoints}"></td>
                <td>
                    <a href="/editCourse" class="btn btn-warning">Redigér</a>
                    <button type="button" class="btn btn-danger">Slet</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>